/* Style the header */
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Sofia");
.header {
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .tittle-text{
    font-family: 'Sofia';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-top: 70px;
    /* text gradients */
    background: #FCDBD9;
    background: radial-gradient(ellipse farthest-corner at bottom center, #ff6f02 22%, #d4d4d4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the input */
  input {
    margin: 0;
    border-color: orange;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Righteous';
  }
  /* Style the "Add" button */
.add-button {
    font-family: 'Righteous';
    padding: 11px;
    width: 20%;;
    background: rgb(255, 158, 2);
    color: rgb(34, 33, 33);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .add-button:hover {
    color: rgb(255, 111, 0) ;
    background-color: rgb(34, 33, 33);
  }