@import url("https://fonts.googleapis.com/css?family=Righteous");
.content-about{
    margin: 10px;
    background-color: rgba(36, 36, 36, 0.227);
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    font-family: 'Righteous';
    font-size: 18px;
}
label{
    font-size: 24px;   
}
img{
    border-style: outset;
    border-width: 4px;
    border-radius: 200px;
    width: 300px;
    height: 300px;
}
.author-bio{
    width: 700px;
    color: rgb(0, 0, 0);
}