@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Sofia");
.form-container{
    background-color: rgba(171, 171, 171, 0.49);
    padding: 30px;
    margin: 200px;
    border-radius: 30px;
}
body{
    background-repeat: no-repeat;
    background-image: url(/src/img/illust_82978986_20201201_083951.jpg);
}
.buton{
    padding: 10px;
}